@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class=display-4>Contact Us</h1>
    <p>Need to contact us ? here's how.</p>
  
</div>
<div class="card text-center mb-3" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.1178995796627!2d138.59744747662646!3d-34.928579974728855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0ced86732f663%3A0x452e8ee9c3909e4c!2sVictoria%20Square%2C%20Adelaide%20SA%205000!5e0!3m2!1sen!2sau!4v1694494437968!5m2!1sen!2sau" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="col-md">
            <div class="card-body">
                <h5 class="card-title">Contact Information</h5>
                <p class="card-text">
                    Phone Number: 90 1234 5678 <br>
                    Email: EmailName@PuppiesRUs.com <br>
                    Location: P Sherman, 42 Wallaby Way, Sydney.
                </p>

            </div>
        </div>
    </div>
</div>
