html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    background-image: url(https://i.pinimg.com/originals/b7/80/80/b78080b4fc1da5331dabf8113087b6e1.jpg);
}

